{
  "ConnectionDefinition": {
    "host": "",
    "login": "",
    "password": "",
    "port": "",
    "connectionType": "SFTP information"
  },
  "FtpConnectionDefinition": {
    "host": "",
    "login": "",
    "password": "",
    "port": "21",
    "connectionType": "FTP information"
  },
  "TestFolder": "TestFiles"
}
